.App {
  text-align: center;
}

.theme-color{
  color: #17c6aa
}

.theme-btn{
  background-color: #17c6aa;
}

.theme-btn:hover{
  color: black;
  background-color: #404e75;
}

.text-color{
  color: #404e75;
}

.footer-bg-color{
  background-color: #404e75;
}

.bg-color{
  background-color: #e2ebef;
}

.custom-shadow{
  box-shadow: 4px 4px 16px 4px rgba(218, 222, 226, 0.281);
}

.border-radius{
  border-radius: 30px;
}

.btn-google{
  background-color: #f05852
}