.App {
  text-align: center;
}

.theme-color{
  color: #f63e7b
}

.theme-btn{
  background-color: #f63e7b;
}

.bg-color{
  background-color: #fff8f5;
}

.custom-shadow{
  box-shadow: 4px 4px 16px 4px rgba(218, 222, 226, 0.281);
}

.border-radius{
  border-radius: 20px;
}

.btn-google{
  background-color: #f05852
}